---
---

@import "{{ site.theme }}";

header {
  background: url(header.jpg);
}

#banner {
  background: #4276b6;
  border-color: #4276b6;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
